$paleta:(
    primario: rgb(29, 195, 218),
    secundario:rgb(25, 160, 201),
);


footer 
{
    height: 50px;
    grid-area: footer;
    margin-top: 15px;
    padding: 5px;
    background-color:  map-get($paleta, primario);
    border: 2px solid map-get($paleta, secundario);
    
}

