*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}


body
{
    margin: 12px;
    background-image: url(https://img.freepik.com/foto-gratis/textura-turquesa_95678-57.jpg) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-bar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
}


.nav-links
{
 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 
}
nav ul li
{
position: relative;
justify-content: center;
list-style: none;
width: 350px;
height: 50px;
background: rgb(33, 213, 226);
border: solid 1px rgb(3, 131, 170);
border-radius: 50px;
cursor: pointer;
display: flex;
align-items: center;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
transition: 0.3s;
}

ul li:hover
{
   width: 380px; 
}

ul li::before
{
    content:'';
    position: absolute;
    inset:0;
    border-radius:60px;
    background:linear-gradient(45deg,var(--i), var(--j));
    opacity: 0;
    transition: 0.3s;
}

ul li:hover::before
{
opacity: 1;
}

ul li::after
{
    content:'';
    position: absolute;
    top:10px ;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background:linear-gradient(45deg,var(--i), var(--j));
    transition: 0.3s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

ul li:hover::after
{
opacity: 0.5;
}

ul li ion-icon
{
color:darkblue;
font-size: 1.2em;
transition: 0.3s;
transition-delay: 0.25s;
}

ul li:hover ion-icon
{
    transform: scale(0);

    transition-delay: 0s;
}

ul li span
{
    position: absolute;
}

ul li .tittle
{
    color:rgb(4, 37, 53) ;
    font-size: 1.25em;
    transform: scale(0);
    transition-delay: 0s;
}

ul li:hover .tittle
{
    transform: scale(1);
    transition: 0.5s;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
}





#main
{
    background-image: url(./images/Ricardo-trans.png);
    background-size: 35px;
    margin-bottom: 10px;
}

.header
{
  grid-area: header;  
}

.inicio-ricardo
{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 15%;
}

.descripcion{
    background-color:rgb(9, 221, 221) ;
    padding-top: 15px;
    font-family: Calibri;
    border: 1px solid rgb(1, 99, 138);
}

.main{
    grid-area: main;
}

footer 
{
    height: 40px;
    grid-area: footer;
    margin-top: 15px;
    border: 1px solid rgb(1, 99, 138);;
    padding: 5px;
    background-color: rgb(9, 221, 221);
}


.biografia
{
    font-family: calibri;
}


.fotos-container img
{
    width: 100%;
    margin-bottom: 15px;
    border: solid 4px black;
}





.name-area
{
    grid-area: name-input;
    display: grid;
    margin-top: 10px;
    border: 1px solid rgb(1, 99, 138);
    background-color:rgb(9, 221, 221) ;
    padding: 15px;
    
}
.email-area
{
    grid-area: email-input;
    display: grid;
    margin-top: 10px;
    border: 1px solid rgb(1, 99, 138);
    background-color: rgb(9, 221, 221) ;
    padding: 15px;
    
}
.age-area
{
    grid-area: age-area;
    border: 1px solid rgb(1, 99, 138);
    background-color: rgb(9, 221, 221) ;
    padding: 15px;
}


.sex-area
{
    grid-area: sex-area;
    border: 1px solid rgb(1, 99, 138);
    background-color: rgb(9, 221, 221) ;
    padding: 15px;
}

.message-area
{
    grid-area: message-area;
    border: 1px solid rgb(1, 99, 138);
    background-color: rgb(9, 221, 221) ;
    padding-top: 15px;
    display: grid;
}

.tittle-form
{
    padding: 20px;
    background-color: rgb(9, 221, 221);
    border: 1px solid rgb(1, 99, 138);
    border-bottom: none;
}

form
{
    padding: 20px;
    background-color: rgb(9, 221, 221);
    border: 1px solid rgb(1, 99, 138);
    display: grid;
    justify-content: center;
    gap:30px;
    grid-template-areas:
    "name-input    name-input"
    "email-input email-input"
    "age-area     sex-area"
    "message-area message-area";
}


.message-area textarea
{
    height: 60px;
}

.message-area label
{
    padding-bottom: 10px;
}



@media (min-width: 660px)
{   
  

 .nav-bar
 {
    flex-direction: row;
 }
    .nav-links
    {
        position: relative;
        display: flex;
        align-items: initial;
        flex-direction: row;
        gap: 25px 
    }

   nav ul li{
width: 80px;
    }
    
    

    ul li:hover
    {
       width: 180px; 
    }

    .video-container iframe
{
    margin-top: 15px;    
    width: 600px;
    height: 400px;
}

form{
   display: flex;
   flex-wrap: wrap;
   align-items:baseline;
   justify-content: space-around;

}

.video-container iframe
{
    margin: 25px;
}

.fotos-container img
{
    
    margin: 40px;
    width: 80%;
    border: solid 8px black;
}

.podcast iframe{
    margin: 3%;
    width: 95%;
}

.message-area textarea
{
    height: 60px;
    width: 280px;
}
}